option = {
	title: {
		text: 'HSQL 和 ADO.NET 批量插入操作性能',
		subtext: 'QPS 指单位时间内处理请求个数'
	},
	tooltip: {
		trigger: 'axis'
	},
	textStyle: {
		fontFamily: '微软雅黑',
	},
	legend: {
		data: ['HSQL', 'ADO.NET']
	},
	grid: {
		top: '12%',
		left: '3%',
		right: '4%',
		bottom: '3%',
		containLabel: true
	},
	xAxis: {
		type: 'category',
		boundaryGap: false,
		data: ['1千条测试', '3千条测试', '5千条测试', '1万条测试', '5万条测试',
			'8万条测试', '10万条测试', '20万条测试', '30万条测试'
		]
	},
	yAxis: {
		type: 'value',
		axisLabel: {
			formatter: '{value} QPS'
		}
	},
	series: [{
			name: 'HSQL',
			type: 'line',
			color: '#35B72A',
			stack: 'HSQL',
			smooth: true,
			data: [7407.4, 7575.7, 8156.6, 8568.9, 9545.6, 9870.4, 9845.4, 9908.9, 10074.0]
		},
		{
			name: 'ADO.NET',
			type: 'line',
			stack: 'ADO.NET',
			smooth: true,
			data: [7518.7, 9036.1, 9041.5, 9208.1, 11256.1, 11609.3, 11770.2, 11872.9, 12004.3]
		}
	]
};