option = {
	title: {
		text: 'HSQL 和 ADO.NET 查询耗时对比',
		subtext: '查询耗时是指执行查询语句并将数据填充到对象的耗时，单位：毫秒'
	},
	tooltip: {
		trigger: 'axis'
	},
	textStyle: {
		fontFamily: '微软雅黑',
	},
	legend: {
		data: ['HSQL', 'ADO.NET']
	},
	grid: {
		top: '12%',
		left: '3%',
		right: '4%',
		bottom: '3%',
		containLabel: true
	},
	xAxis: {
		type: 'category',
		boundaryGap: false,
		data: ['10万条耗时', '30万条耗时', '50万条耗时', '100万条耗时', '200万条耗时']
	},
	yAxis: {
		type: 'value',
		axisLabel: {
			formatter: '{value} ms'
		}
	},
	series: [{
			name: 'HSQL',
			type: 'line',
			stack: 'HSQL',
			smooth: true,
			data: [609, 1806, 2645, 5704, 11203]
		},
		{
			name: 'ADO.NET',
			type: 'line',
			color: '#35B72A',
			stack: 'ADO.NET',
			smooth: true,
			data: [436, 1213, 2015, 4277, 8449]
		}
	]
};